*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: black;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 80px;
    height: 30px;
    background: ;
    margin: 0 4px;
    border-radius: 0%;
    box-shadow: 0 0 0 10px rgb(128, 0, 94),
    0 0 50px rgb(0, 255, 191),
    0 0 100px rgb(0, 255, 162);
    animation: animate 15s linear infinite;
    animation-duration: calc(1s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: rgb(125, 226, 43);
    box-shadow: 0 0 0 10px rgb(192, 255, 193),
    0 0 50px rgb(255, 0, 225),
    0 0 100px rgb(0, 34, 255);
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}